body {
    font-family: 'Poppins', sans-serif;
    background-color: #161616;
    color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #0a0a0a;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(159, 54, 255, 0.2);
    width: 500px;
    text-align: center;
}

h2 {
    margin-bottom: 2rem;
    color: #9f36ff;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

li {
    font-size: 1.1rem;
    margin: 1rem 0;
}

li label {
    cursor: pointer;
    margin-left: 10px;
}

button {
    background-color: #9f36ff;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background-color: #8020d8;
}

.back-link {
    display: inline-block;
    margin-top: 2rem;
    color: #ccc;
    text-decoration: none;
}

.back-link:hover {
    color: #fff;
}